* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.margintop{
    margin-top: 20px;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

header {
    background-color: #f09ada;
    width: 80%;
    height: 5em;
}

.slider {
    width: 80%;
    height: 17em;
    background-color: #f6e796;
  }

  .parte2 {
    width: 80%;
    height: 30em;
    background: lightblue;
  }

  .headerparte {
      height: 5em;
      border-bottom: 10px solid blue;
  }

 .left, .right {
     width: calc(100% / 4);
     height: 25em;
 }
.left {
    float:left;
    border-right: 10px solid blue;
    border-bottom: 10px solid blue;
}
.right {
    float:right;
    border-left: 10px solid blue;
    border-bottom: 10px solid blue;
}

.middle { 
    float: left;
    width: calc(100% / 2);
    border-bottom: 10px blue solid;
    height: 25em;
}